body.dark-mode {
  background-color: #121212;
  color: #eee;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  color: #eee;
}

body.dark-mode .navbar-dark {
  background-color: #1c1c1c;
}

button {
  cursor: pointer;
}
